<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card class="welcome-card" *ngFor="let lis of data?.list">
    <ion-item >
        <ion-avatar>
            <img src="/assets/img/date.png">
          </ion-avatar>
      <ion-label>Forecast for: {{lis.dt_txt}}</ion-label>
    </ion-item>
  
    <ion-item >
        <ion-avatar>
            <img src="/assets/img/temperature.png">
          </ion-avatar>
      <ion-label>  Temperature : {{lis.main.temp}} K</ion-label>
    </ion-item>
  
    <ion-item >
        <ion-avatar>
            <img src="/assets/img/humidity.png">
          </ion-avatar>
      <ion-label>Humidity : {{lis.main.humidity}} %</ion-label>
    </ion-item>
  
    <ion-item>
        <ion-avatar>
            <img src="/assets/img/pressure.png">
          </ion-avatar>
      <ion-label>Pressure : {{lis.main.pressure}} Pa</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
